body {
	background: #fff;
	color: #333;
}

.btn {
	text-decoration: none;
}

.page {
	max-width: 960px;
	padding: 10px;
	margin: 0 auto;
}

.table-block {
	overflow: hidden;
}

.config-block {
	float: right;
	width: 30%;
	padding: 0 10px;
	margin: 0 0 0 10px;
}

.table {
	td {
		vertical-align: middle !important;

		&:first-child + td,
		&:first-child {
			text-transform: capitalize;
		}
	}
}

.form-row {
	@extend %clearfix;

	padding: 10px 0 0;

	&:first-child {
		padding-top: 0;
	}
}
